@import 'libs/vars';
@import 'libs/breakpoints';

// Breakpoints.
@include breakpoints((
    xxlarge:   ( 1400px,  9999px ),
    xlarge:   ( 1200px,  1399px ),
    large:    ( 992px,   1199px ),
    medium:   ( 768px,   991px  ),
    small:    ( 576px,   767px  ),
    xsmall:   ( null,    575px  ),
));

@import 'base/page';
@import 'base/reset';
@import 'base/typography';

@import 'components/button';
@import 'components/counter';
@import 'components/modal';
@import 'components/sessions';
@import 'components/session';
@import 'components/list';